body{
    background-color: #0B1D51;
}
h1{
    color: #FFE3A9;   
    text-align: center;
    font-size: 60px;
}
p{
    color: #ffbda9;
    text-align: center;
    font-size: 40px
}
img{
    margin-left: 660px;
    width: 60%;
}